[Unit]
Description=Daphne Daemon
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/srv/colosseum-django
Environment="DJANGO_SETTINGS_MODULE=colosseum.settings"
ExecStart=/home/ubuntu/myvenv/bin/daphne -u /tmp/daphne.sock colosseum.asgi:application


Restart=on-failure
RestartSec=5s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target