[Unit]
Description=Daphne Daemon
After=network.target

[Service]
ExecStart=/home/ubuntu/myvenv/bin/daphne -u /tmp/daphne.sock /srv/colosseum-django/colosseum.asgi:application


Restart=on-failure
RestartSec=5s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target