[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/myvenv/bin/uwsgi -i /srv/colosseum-django/.config/uwsgi/colosseum.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Service]
ExecStart=/home/ubuntu/myvenv/bin/daphne -u /tmp/daphne.sock myproject.asgi:application

Restart=always
RestartSec=5s
KillSignal=SIGINT
User=ubuntu
WorkingDirectory=/srv/colosseum-django

[Install]
WantedBy=multi-user.target